<!DOCTYPE html>
<html>
<head>
    <title>QUIZZES</title>
</head>
<body>
<h1><b>Lista de Quizzes:</b></h1>
<ul>
    <% for (let i in quizzes) { %>
    <% const quiz = quizzes[i]; %>

    <li>
        Pregunta numero <%=i%>: <%= quiz.question %> : <%=quiz.answer%>
    </li>
    <% }  %>
</ul>
<a href="/"><b>Inicio.</b></a>
<a href="/credits"><b>Credits.</b></a>
</body>
</html>